/Lab-5/Lab05/Lab05-NguyenLeThanhTai-ITITIU20298/build/
/Lab-5/Lab05/Lab05-NguyenLeThanhTai-ITITIU20298/nbproject/private/
/Lab-5/Lab05/Lab05-NguyenLeThanhTai-ITITIU20298/dist/
/Lab-5/Lab05/Lab05/build/
/Lab-5/Lab05/Lab05/dist/
/Lab-5/Lab05/Lab05/nbproject/private/
/test/target/
/Lab_4/nbproject/private/
/Lab_4_exercise/nbproject/private/
/Lab_4_exercise/build/
/TranNgocNhan_ITITIU20264_Lab4/nbproject/private/
/Lab-4/TranNgocNhan_ITITIU20264_Lab4/nbproject/private/
